body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    background: #1e293b;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    align-items: center;
}

.card {
    background: #1e293b;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px cyan;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card h4 {
    margin: 10px 0 5px;
}

.card p {
    margin: 0;
    color: #cbd5e1;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: cyan;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #00aaff;
}